<div class="row">
    <form [formGroup]="searchForm">
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <input type="text" placeholder="Search" name="search" class="form-control"
                            formControlName="search" (keypress)="getProductsData()" >
    </div>
    <div class="col-md-3">
        <div class="col-md-12 text-right">
        </div>
    </div>
</form>
</div>
<div class="row">
   
    <div class="col-md-12" >
        <div style="height:600px;overflow: scroll;" >
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th>S.No </th>
                    <th>Name</th>
                    <th>Icon</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of productsData let i=index" style="cursor: pointer;">
                    <td>{{i+1}}</td>
                    <td>{{x.name}}</td>
                    <td><img style="height: 20px; width:20px;" [src]="x.ListImagePath" 
             /></td>
                    
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>