<div class="container" style="padding:18%">
    <div class="panel panel-primary" style="margin: bottom 70px;">
        <div class="panel-heading">
            <h4>Feedback Form</h4>
        </div>
        <div class="panel-body">
            <form [formGroup]="feedbackForm">
                <div class="form-row">
                    <div class="form-group col-md-12" style="padding-right:0%">
                        <label><b>Name</b></label>
                        <input type="text" placeholder="Name"  class="form-control"
                            formControlName="Name" [ngClass]="{ 'is-invalid':  submitted && f.Name.errors }">

                        <div *ngIf=" submitted && f.Name.errors" class="invalid-feedback">
                            <div *ngIf=" submitted && f.Name.errors.required" class="red">
                                Name Required
                            </div>
                            <div *ngIf=" submitted && f.Name.errors.pattern" class="red">
                                Invalid  Name
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12" style="padding-right:0%">
                        <label><b>Email</b></label>
                        <input type="text" placeholder="Email" class="form-control" formControlName="email"
                        [ngClass]="{ 'is-invalid':  submitted && f.email.errors }">
                       
                        <div *ngIf=" submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf=" submitted && f.email.errors.required" class="red">
                                Email Required
                            </div>
                            <div *ngIf=" submitted && f.email.errors.pattern" class="red">
                                Invalid Email
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                <div class="formgroup col-md-12" style="padding-right:0%">
                    <label><b>Phone</b></label>
                    <input type="text" placeholder="Phone"  class="form-control" formControlName="phone" [ngClass]="{ 'is-invalid':  submitted && f.phone.errors }">
                    <div *ngIf=" submitted && f.phone.errors" class="invalid-feedback">
                      <div *ngIf=" submitted && f.phone.errors.required" class="red">
                          Phone Required
                      </div>
                      <div *ngIf=" submitted && f.phone.errors.pattern" class="red">
                        Invalid  Phone 
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12" style="padding-right:0%">
                            <label><b>FeedbackContent</b></label>
                            <textarea  placeholder="FeedbackContent"  class="form-control" rows="10" cols="10"
                                formControlName="feedbackContent" [ngClass]="{ 'is-invalid':  submitted && f.feedbackContent.errors }"></textarea>
    
                            <div *ngIf=" submitted && f.feedbackContent.errors" class="invalid-feedback">
                                <div *ngIf=" submitted && f.feedbackContent.errors.required" class="red">
                                    FeedbackContent Required
                                </div>
                                <div *ngIf=" submitted && f.feedbackContent.errors.pattern" class="red">
                                    Invalid  FeedbackContent
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary" (click)="submit()">Save</button>&nbsp;
                        <button type="submit" class="btn btn-danger" (click)="cancel()">Cancel</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>